#textdomain wesnoth-lc
[scenario]
    id=03_A_Strategy_of_Hope
    name= _ "A Strategy of Hope"
    next_scenario=04_Unlawful_Orders
    victory_when_enemies_defeated=yes
    map_file=~add-ons/Liberty_Classic/maps/03_Strategy_of_Hope_Alt.map
    {TURNS 35 30 25}
    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC elvish-theme.ogg traveling_minstrels.ogg}
    {EXTRA_SCENARIO_MUSIC "wanderer.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    {EXTRA_SCENARIO_MUSIC "loyalists.ogg"}

    [story]
        [part]
            story= _ "Fearing that the Queen’s army would return in force in the wake of its fallen patrol, Baldras and his men fled Dallben. They tracked to Delwyn and sent ahead for the magistrate, Relana, to meet them in a secluded strath in the swamps."
            background=story/frontier.jpg
        [/part]
        [part]
            story= _ "As morning dawned over the day after next, they found Relana already waiting for them."
            background=story/frontier.jpg
        [/part]
    [/story]

    {LIBERTY_BIGMAP {JOURNEY_03_NEW} }
    
    [side]
    	side=1
        {SIDE_1_ESSENTIALS}
        {BALDRAS_LATE}
        
        {SIDE_1_GOLD 200 150 100 100 75 50}
        recruit=Thug,Footpad,Poacher
    [/side]
    
    [side]
    	side=2
        {SIDE_2_ESSENTIALS}
        #ifdef MULTIPLAYER       
            {HARPER_LATE}
            {GOLD 100 75 50}
            recruit=Thug,Footpad,Poacher
        #endif
    [/side]

    [side]
        type=Highwayman_Peasant
        gender=female
        id=Relana
        name= _ "Relana"
        profile=portraits/relana.png
        facing=se
        side=3
        canrecruit=yes
        {UNPLAYABLE_SIDE}
        [ai]
            #This should get them to attack the saurians
            [goal]
                name=protect_location
                [criteria]
                    x,y=7,5
                [/criteria]
                protect_radius=10
                value=7
            [/goal]
        [/ai]
        recruit=Outlaw_Peasant,Trapper_Peasant,Poacher_Peasant,Thug_Peasant,Footpad_Peasant
        {GOLD 250 130 60}
        {INCOME 7 5 3}
        team_name=good_guys
        user_team_name=_"Rebels"

        {GENERIC_UNIT 3 "Huntsman_Peasant" 21 18}
        [+unit]
            facing=se 
        [/unit]

        [village]
            x,y=23,21 
        [/village]
    [/side]

    [side]
        type=Orcish Warrior
        id="Urk Delek"
        name= _ "Urk Delek"
        profile=portraits/orcs/grunt-3.png
        facing=sw
        side=4
        canrecruit=yes
        {UNPLAYABLE_SIDE}
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
        [village]
            x,y=41,28
        [/village]
        [ai]
            time_of_day=dawn,morning,afternoon
            caution=0.5
            aggression=0.5
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            caution=0.0
            aggression=1.0
        [/ai]
        {GOLD 100 180 260}
        team_name=bad_guys
        user_team_name=_"Evil"
        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        type=Saurian Oracle
        id=Thhsthss
        name= _ "Thhsthss"
        side=5
        canrecruit=yes
        {UNPLAYABLE_SIDE}
        recruit=Saurian Skirmisher,Saurian Ambusher,Saurian Augur
        [ai]
            recruitment_pattern=scout,healer,scout
            #they want to kill the leader
            leader_value=5
        [/ai]
        [village]
            x,y=1,1
        [/village]
        {GOLD 100 120 160}
        team_name=bad_guys
        user_team_name=_"Evil"
        {FLAG_VARIANT6 undead}
    [/side]

    #
    # Prestart actions
    #

    {FROG_SOUND 29 26}
    {FROG_SOUND 8 24}
    {FROG_SOUND 33 7}
    {FROG_SOUND 6 12}

    [event]
        name=prestart

        [objectives]
            side=1,2
            [objective]
                description= _ "Defeat both enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Baldras"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Harper"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Relana"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        
        #ifdef MULTIPLAYER
        [terrain]
            x,y=26,19
            terrain=Ke
        [/terrain]
        [terrain]
            x,y=25,17
            terrain=Ce
        [/terrain]
        #endif
    [/event]

    [event]
        name=start

        {MOVE_UNIT id=Baldras 24 19}
        #ifdef MULTIPLAYER
        {MOVE_UNIT id=Harper 26 19}
        #endif
        #ifndef MULTIPLAYER
        [recall]
            id=Harper
        [/recall]
        #endif
        [recall]
            role=Advisor
            x,y=25,20
        [/recall]
        
        #ifdef MULTIPLAYER
            # recall someone whose side is different to Advisor in MP (Advisor might be side 2)
            [recall]
                side=1,2
                x,y=25,19
                [filter_side]
                    [not]
                        [has_unit]
                            role=Advisor
                        [/has_unit]
                    [/not]
                [/filter_side]
            [/recall]
        #endif

        {MODIFY_UNIT (side=1,2) facing sw}

        # This makes sure Baldras' portrait doesn't cover up Relana's sprite
        [scroll_to_unit]
            id=Baldras
        [/scroll_to_unit]

        [message]
            speaker=Baldras
            message= _ "Relana, thank you for welcoming our messenger and agreeing to meet with us. In your many years as Delwyn’s magistrate I have never known your judgment to err."
        [/message]
        [message]
            speaker=Relana
            message= _ "It has been a long time, old friend. Your news worries us. Yet, there is no problem we have not worked out together."
        [/message]
        [message]
            speaker=Baldras
            message= _ "You do not understand. We attacked a Wesnoth army patrol. Not only that, the leader was no man I had ever seen in Annuvin Province before. Never has one been sent out here as a patrol captain who was so ruthless and cruel."
        [/message]
        [message]
            speaker=Harper
            message= _ "Had they taken my uncle, they would have surely shown up in Delwyn today with the same ultimatum. As it is, several riders escaped."
        [/message]
        [message]
            speaker=Relana
            message= _ "Well, it won’t be long until they report back to the local garrison with the details of your encounter."
        [/message]
        [message]
            role=Advisor
            message= _ "Then they’ll be back in force."
        [/message]
        [message]
            speaker=Baldras
            message= _ "An offense to decency, this is! Since when has Wesnoth been ruled by fear and treachery? We should consult with Lord Maddock of Elensefar. We have known him for years to be noble in deed as well as in name."
        [/message]
        [message]
            speaker=Relana
            message= _ "I agree. But, Baldras, what will you tell him? We know something has been going badly wrong in Wesnoth of late, that more than ordinary corruption and incompetence is afoot. But when the effects fall on mere peasants, the wrong of it may not seem so obvious from a noble’s chair."
        [/message]
        [sound]
             name=ambient/wardrums.ogg
             repeat=3
        [/sound]
        [message]
            speaker=Baldras
            message= _ "We need evidence. Hard evidence... but wait— Are those orcish war drums I hear?"
        [/message]
        [message]
            speaker=Relana
            message= _ "I think they are, old friend. And that rank smell on the wind tells another tale: saurians approach. To arms!"
        [/message]

        {INCIDENTAL_MUSIC the_city_falls.ogg}

        {MOVE_UNIT (id=Urk Delek) 38 29}
        [message]
            speaker="Urk Delek"
            message= _ "By the sound of the wolves, the scent trail of Fal Khag’s killers ends here."
        [/message]
        {MOVE_UNIT id=Thhsthss 3 5}
        [message]
            speaker="Thhsthss"
            # wmllint: local spellings uss usss promissed
            message= _ "Fal Khag is nothing to usss, orc. You promissed uss gold. Bright gold."
        [/message]
        [message]
            speaker="Urk Delek"
            message= _ "You will get gold. And our wolves will get meat."
        [/message]
    [/event]

    #
    # Victory
    #
    [event]
        name=enemies defeated

        [message]
            speaker=Baldras
            message= _ "Something is very wrong here. Those orcs were carrying weapons with Army forge-markings."
        [/message]
        [message]
            speaker=Relana
            message= _ "Aye. And the gold in their pouches looked new from the mint."
        [/message]
        [message]
            speaker=Baldras
            message= _ "Can the darkest rumors be true, then? Does the Kingdom— Does Queen Asheviere... send orcs against her own people?"
        [/message]
        [message]
            speaker=Relana
            message= _ "I think your mission to Lord Maddock just became more urgent than we knew, Baldras. I must remain here to see to the defense of Delwyn and Dallben, but you should fly to Elensefar with all speed."
        [/message]

        [endlevel]
            result=victory
#ifdef MULTIPLAYER
                    bonus=0.5
#else
                    bonus=yes
#endif
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    #
    # Loss conditions - turns run out
    #
    [event]
        name=time over

        [message]
            speaker=Baldras
            message= _ "We have tarried here for far too long... There is no way we can reach Elensefar and return with help before the Wesnoth army destroys our homes. Retreat!"
        [/message]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message=_ "Baldras and Relana returned to their villages to find them destroyed, with those who fought left dead and the few survivors borne away to unknown fates. It was a bitter doom, and as Wesnoth descended into darkness they would live to see worse."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {LIBERTY_DEATHS}
    {LIBERTY_ACHIEVEMENTS}
[/scenario]
