#textdomain wesnoth-lc
[scenario]
    id=07_The_Hunters
    name= _ "The Hunters"
    next_scenario=08_Glory
    map_file=~add-ons/Liberty_Classic/maps/Hunters2.map
    turns=-1
    {DEFAULT_SCHEDULE_DUSK}

    {INTRO_AND_SCENARIO_MUSIC breaking_the_chains.ogg vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}

    [story]
        [part]
            story= _ "Baldras and his men quickly left the Grey Woods, not entirely convinced of their safety even after eradicating the lich."
        [/part]
        [part]
            story= _ "As they marched, many men and women from the small hamlets peppering the area around Carcyn and the Grey Woods approached the group, asking to join them. The ascent of the Queen had cast an uneasy pall over the citizens of Wesnoth, and some of them were willing to resist it."
        [/part]
        [part]
            story= _ "Knowing they too would be labeled criminals, he reluctantly accepted their help.
<b>Note:</b> Baldras is now able to recruit Outlaws."
        [/part]
        [part]
            story= _ "Camped at the edge of the forest, they quietly observed substantial troop movements coming from the direction of Aldril, a nearby city, and marching to the northwest. Unsure what to make of it, they debated their next course of action..."
        [/part]
    [/story]

    {LIBERTY_BIGMAP {JOURNEY_07_NEW} }

    [side]
    	side=1
        {SIDE_1_ESSENTIALS}
        {BALDRAS_LATE}
        
        {SIDE_1_GOLD_FIXED 500 300}
        recruit=Thug,Footpad,Poacher,Outlaw,Thief,Trapper,Rogue,Bandit
    [/side]
    
    [side]
    	side=2
        {SIDE_2_ESSENTIALS}
        #ifdef MULTIPLAYER       
            {HARPER_LATE}
            gold=90
            recruit=Thug,Footpad,Poacher,Outlaw,Thief
        #endif
    [/side]

    [side]
        side=3
        type=Royal Guard
        id=Archarel
        name= _ "Archarel"
        canrecruit=yes
        recruit=Spearman,Bowman,Sergeant,Cavalryman
        {GOLD 140 180 220}
        {INCOME 3 6 9}
        {UNPLAYABLE_SIDE}
        team_name=bad_guys
        user_team_name=_"Asheviere"
        {FLAG_VARIANT loyalist}
        defeat_condition=no_units_left
        [ai]
            recruitment_pattern=fighter,fighter,archer,mixed fighter,scout
            village_value=0.1 
        [/ai]

        {GENERIC_UNIT 3 (Spearman) 12 5}{GUARDIAN}
        {GENERIC_UNIT 3 (Spearman) 13 5}{GUARDIAN}

        {GENERIC_UNIT 3 (Spearman) 10 5}{GUARDIAN}
        {GENERIC_UNIT 3 (Spearman) 9 5}{GUARDIAN}

        {GENERIC_UNIT 3 (Spearman) 7 2}{GUARDIAN}
        {GENERIC_UNIT 3 (Spearman) 7 3}{GUARDIAN}

        {GENERIC_UNIT 3 (Spearman) 15 2}{GUARDIAN}
        {GENERIC_UNIT 3 (Spearman) 15 3 }{GUARDIAN}
    [/side]

    {STARTING_VILLAGES 3 5}

    [side]
        side=4
        no_leader=yes
        {UNPLAYABLE_SIDE}
        team_name=bad_guys
        user_team_name=_"Asheviere"
        {FLAG_VARIANT loyalist}
        defeat_condition=no_units_left
        [ai]
            [avoid]
                terrain=*^F* 
            [/avoid]
        [/ai]
    [/side]

    [event]
        name=prestart

        [objectives]
            side=1,2
            [objective]
                description= _ "Kill all enemy forces"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Baldras"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Harper"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        #ifndef MULTIPLAYER
        [recall]
            id=Harper
        [/recall]
        #else
        [terrain]
        	location_id=2
        	terrain=Ke
        [/terrain]
        #endif
        {NAMED_LOYAL_UNIT {MP_SIDE_UNIT} Outlaw 33 19 Jingo ( _ "Jingo")}
        {NAMED_LOYAL_UNIT 1 Outlaw 33 19 Majel ( _ "Majel")}
    [/event]

    #
    # Starting conversation and actions
    #
    [event]
        name=start
        
        [message]
            speaker=Baldras
            message= _ "The words of Lord Maddock have weighed heavy on me these past few days. It has dawned on me that we can never win. We will never defeat the entire army of Wesnoth. Idiocy! If the noble lord of Elensefar is unwilling to resist the Queen, how should I ever expect to?"
        [/message]
        [message]
            speaker=Harper
            message= _ "What’s worse is that she appears to have taken notice. We have counted five platoons of heavy infantry marching towards the garrison in just the last two hours."
        [/message]
        [message]
            speaker=Baldras
            message= _ "The garrison. The towers of Halstead are more than a garrison, nephew, they are a fortress. They used to protect this area from the enemies of Wesnoth; I never imagined they would house its enemies."
        [/message]

        {NAMED_LOYAL_UNIT 1 Dragoon 22 9 (Pitcher) ( _ "Pitcher")}

        {MOVE_UNIT id=Pitcher 30 13}

        [message]
            speaker=Pitcher
            message={WHISPER _"whisper^<i>Baldras!</i>"}
        [/message]
        [message]
            speaker=Harper
            message= _ "Uncle, he wears the crest of the Elense. We should answer."
        [/message]
        [message]
            speaker=Baldras
            message= _ "Rider, hush before we are discovered! Come to us, but quietly!"
        [/message]

        {MOVE_UNIT id=Pitcher 32 14}

        [message]
            speaker=Pitcher
            message= _ "Master Baldras, I bring news from the north. During the past week, several patrols have again ventured across the Great River into Annuvin. A woman named Relana opposed them with a small militia. She was victorious."
        [/message]
        [message]
            speaker=Majel
            message= _ "This is surely good news!"
        [/message]
        [message]
            speaker=Pitcher
            message= _ "I am afraid it is not. The Queen is sending a branch of her main field army directly from Weldyn. As soon as they arrive, they will burn every village to the ground. No one will live."
        [/message]
        [message]
            speaker=Baldras
            message= _ "The troop movements all make sense now. We must stop this army from reaching the garrison. We cannot swallow them whole, but we can gnaw away at them. They mustn’t take one step without us being there to harass and delay them. When they reach Halstead they must be exhausted or dying."
        [/message]
        [message]
            speaker=Harper
            message= _ "You just said we can’t beat their entire army!"
        [/message]
        [message]
            speaker=Baldras
            message= _ "Do you propose surrender? It’s this or nothing. All we can do is see it through to the end."
        [/message]
        [message]
            speaker=Pitcher
            message= _ "May you prevail in peace and war. I must depart before I am seen so far from my Lord’s borders."
        [/message]

        {MOVE_UNIT id=Pitcher 22 9}

        [kill]
            id=Pitcher
        [/kill]

        [message]
            speaker=Jingo
            message= _ "Another platoon approaches..."
        [/message]

        [message]
            speaker=Baldras
            message= _ "When we are done, no one will fear the open roads and night sky more than the army of the usurper. Strike fast, strike silently... and leave no one alive."
        [/message]
    [/event]

    #
    # Special Event - when you attack the bad guys for the first time they react
    #
    [event]
        name=attack
        [filter_second]
            side=4
        [/filter_second]
        [message]
            speaker=Linneus
            message= _ "It’s an ambush! Hold your ground!"
        [/message]
    [/event]


    [event]
        name=start

        [unit]
            side=4
            type=Iron Mauler 
            canrecruit=yes 
            location_id=4 
            random_traits=no
            role=on_march
        [/unit]
        {REPEAT 10 (
        [unit]
            side=4
            type=Iron Mauler
            location_id=4 
            random_traits=no
            role=on_march
        [/unit]
        )}

        [micro_ai]
            side=4
            ai_type=goto
            action=add
            ca_score=500000
            [filter]
                side=4
                role=on_march
            [/filter]
            [filter_location]
                location_id=3
            [/filter_location]
            ignore_units=yes
            release_unit_at_goal=yes
        [/micro_ai]
    [/event]

    [event]
    name=enter hex 
    first_time_only=no

        [filter]
            side=4 
            [filter_location]
                location_id,radius=3,4 
            [/filter_location]
        [/filter]
      
        [cancel_action][/cancel_action]
        {MODIFY_UNIT find_in=unit side 3}
    [/event]

    [event]
    name=enter hex 
    first_time_only=no

        [filter]
            side=4 
            [filter_location]
                terrain=Ss^Bw|r 
            [/filter_location]
        [/filter]
        [cancel_action][/cancel_action]
        [sound]
            name=wose-die.ogg 
        [/sound]
        [terrain]   
            x,y=$unit.x,$unit.y 
            terrain=Ss 
        [/terrain]
        [redraw][/redraw]
    [/event]

    #
    # Special Event - after 4 turns, the outpost detachment returns to fight you
    #
    [event]
        name=turn 4
        [message]
            speaker=narrator
            message= _ "The next morning, the local night patrol returned to the nearby outpost. They were surprised to see their fellow soldiers engaged in combat with the band of thugs of which they had heard so much."
            image="wesnoth-icon.png"
        [/message]
        [message]
            speaker=Archarel
            message= _ "Troops, to arms! These peasant scum think they are above the law. We will show them the law!"
        [/message]
    [/event]

    #
    # Special Event - don't step on the fire
    #
    [event]
        name=moveto
        [allow_undo]
        [/allow_undo]
        [filter]
            x,y=29,14
        [/filter]
        [message]
            speaker=unit
            message= _ "Ow! Fire hot! No step in fire!"
        [/message]
    [/event]

    #
    # Victory
    #
    [event]
        name=enemies defeated

        [message]
            speaker=Baldras
            message= _ "What a bloody mess. We must attack Halstead next. If we wait, they will become invincible. If we can burn it to the ground before that happens, our people may have a chance. Rest well tonight, because tomorrow’s battle will decide the fate of our homes, our families, and our freedom."
        [/message]

        [if]
            [variable]
                name=Helicrom_status
                numerical_equals=3
            [/variable]
            [then]
                [message]
                    speaker=Baldras
                    message= _ "Send word to Helicrom that we are ready. It is time for him to repay his debt."
                [/message]
            [/then]
        [/if]

        {CLEAR_VARIABLE stored_Archarel}

        [endlevel]
            result=victory
#ifdef MULTIPLAYER
                    bonus=0.5
#else
                    bonus=yes
#endif
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    #
    # Loss conditions - turns run out
    #
    [event]
        name=time over
        [message]
            speaker=Baldras
            message= _ "We have spent too much time here. Surely the entire Wesnoth army marches on our position. We are done for!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {LIBERTY_DEATHS}
    {LIBERTY_ACHIEVEMENTS}
    {VILLAGE_BURNED}
[/scenario]

#undef TROOPER
