#textdomain wesnoth-lc

[achievement_group]
    display_name=_"Liberty (Classic + MP)"
    content_for=Liberty_Classic

    [achievement]
        id=lc_shadows
        name= _ "We Walk in Shadows"
        description= _ "Complete <i>Hide and Seek</i> without being discovered"
        icon="data/core/images/units/human-outlaws/fugitive-melee-2.png~SCALE(72,72)"
        icon_completed="data/core/images/units/human-outlaws/fugitive-melee-2.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-jade.png",0,0)"
    [/achievement]

    [achievement]
        id=lc_goliath
        name= _ "Harper vs. Goliath"
        description= _ "Defeat an Iron Mauler with Harper in any scenario"
        icon="data/core/images/attacks/slingshot.png"
        icon_completed="data/core/images/attacks/slingshot.png~BLIT("data/core/images/misc/achievement-frames/frame-3-jade.png",0,0)"
    [/achievement]


    [achievement]
        id=lc_all_trades
        name= _ "All Trades"
        description= _ "Upgrade each unit of your starting recruit list to the max level"
        icon="data/core/images/icons/scroll_red.png~SCALE(72,72)"
        icon_completed="data/core/images/icons/scroll_red.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-jade.png",0,0)"

        [sub_achievement]
            id=lc_highwayman
            name= _ "Advance Highwayman"
            description= _ "Advance Highwayman"
            icon="data/core/images/units/human-outlaws/highwayman.png~RC(magenta>red)"
        [/sub_achievement]

        [sub_achievement]
            id=lc_fugitive
            name= _ "Advance Fugitive"
            description= _ "Advance Fugitive"
            icon="data/core/images/units/human-outlaws/fugitive.png~RC(magenta>red)"
        [/sub_achievement]

        [sub_achievement]
            id=lc_huntsman
            name= _ "Advance Huntsman"
            description= _ "Advance Huntsman"
            icon="data/core/images/units/human-outlaws/huntsman.png~RC(magenta>red)"
        [/sub_achievement]

        [sub_achievement]
            id=lc_ranger
            name= _ "Advance Ranger"
            description= _ "Advance Ranger"
            icon="data/core/images/units/human-outlaws/ranger.png~RC(magenta>red)"
        [/sub_achievement]
    [/achievement]
    
    [achievement]
        id=lc_dang
        name= _ "I Command Dangerous Men"
        description= _ "Upgrade each unit of Helicrom's recruit list to the max level"
        icon="data/add-ons/Liberty_Classic/images/units/human-outlaws/shadow-lord.png~RC(magenta>blue)"
        icon_completed="data/core/images/icons/scroll_red.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-jade.png",0,0)"

        [sub_achievement]
            id=lc_assassin
            name= _ "Advance Assassin"
            description= _ "Advance Assassin"
            icon="data/core/images/units/human-outlaws/assassin.png~RC(magenta>red)"
        [/sub_achievement]

        [sub_achievement]
            id=lc_shadow_lord
            name= _ "Advance Shadow Lord"
            description= _ "Advance Shadow Lord"
            icon="data/add-ons/Liberty_Classic/images/units/human-outlaws/shadow-lord.png~RC(magenta>red)"
        [/sub_achievement]
    [/achievement]    
    
    [achievement]
        id=trow_we_shadow_strike
        name= _ "A Strike from the Shadow!"
        description= _ "Defeat any enemy leader by a Shadow Mage/Lord that is invisible at the start of the turn"
        icon="data/add-ons/Liberty_Classic/images/attacks/sword-astral.png~SCALE(72,72)"
        icon_completed="data/add-ons/Liberty_Classic/images/attacks/sword-astral.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-7-blue.png",0,0)"
        hidden=yes
    [/achievement]
[/achievement_group]


