#textdomain wesnoth-lc

#define LIBERTY_UPGRADES_ACHIEVEMENTS

[event]
name=post advance 

    [filter]
        type=Assassin
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_dang
        sub_id=lc_assassin
    [/set_sub_achievement]
[/event]
[event]
name=post advance 

    [filter]
        type=Shadow Lord
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_dang
        sub_id=lc_shadow_lord
    [/set_sub_achievement]
[/event]

[event]
name=post advance 

    [filter]
        type=Highwayman,Highwayman_Peasant
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_all_trades
        sub_id=lc_highwayman
    [/set_sub_achievement]
[/event]
[event]
name=post advance 

    [filter]
        type=Huntsman,Huntsman_Peasant
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_all_trades
        sub_id=lc_huntsman
    [/set_sub_achievement]
[/event]
[event]
name=post advance 

    [filter]
        type=Ranger
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_all_trades
        sub_id=lc_ranger
    [/set_sub_achievement]
[/event]
[event]
name=post advance 

    [filter]
        type=Fugitive,Fugitive_Peasant
    [/filter]

    [set_sub_achievement]
        content_for=Liberty_Classic
        id=lc_all_trades
        sub_id=lc_fugitive
    [/set_sub_achievement]
[/event]

#enddef

#define LIBERTY_ACHIEVEMENTS
{LIBERTY_UPGRADES_ACHIEVEMENTS}
#enddef
