#textdomain wesnoth-lc

#ifdef MULTIPLAYER

#define MP_SIDE_UNIT 
2#enddef

#else
#define MP_SIDE_UNIT 
1#enddef

#endif

#define COLOR_MP SP_COLOR MP_COLOR
        #ifdef MULTIPLAYER 
        color={MP_COLOR}
        #else
        color={SP_COLOR}
        #endif
#enddef

#define BALDRAS_BASE
        id=Baldras
        name= _ "Baldras"
        profile=portraits/baldras.png
        canrecruit=yes
        unrenamable=yes
#enddef

#define BALDRAS_START
        {BALDRAS_BASE}
        type=Bandit_Peasant
#enddef

#define BALDRAS_LATE
        {BALDRAS_BASE}
        type=Bandit
#enddef

#define HARPER_BASE
            id=Harper
            name= _ "Harper"
            profile=portraits/harper.png
            random_traits=no
            unrenamable=yes
#enddef

#define HARPER_START
        {HARPER_BASE}
        type=Footpad_Peasant
#enddef

#define HARPER_LATE
        {HARPER_BASE}
        type=Footpad
#enddef

#define PLAYABLE_SIDE
	faction=Custom
        faction_lock=yes
        leader_lock=yes
        team_lock=yes
        disallow_shuffle=yes
        gold_lock="true"
        income_lock="true"
        share_vision=all
        controller=human
        team_name=good_guys
#enddef

#define SIDE_1_ESSENTIALS
	{PLAYABLE_SIDE}
	color=red
        user_team_name=_"Rebels"
#enddef

#define SIDE_2_ESSENTIALS
        {COLOR_MP red blue}
	#ifdef MULTIPLAYER
		{PLAYABLE_SIDE}
		user_team_name=_"Rebels"
	#else
		controller=null
		hidden=yes
		no_leader=yes
        #endif
#enddef

#define SIDE_1_GOLD ESP MSP HSP EMP MMP HMP
#ifdef MULTIPLAYER
	{GOLD {EMP} {MMP} {HMP}}
#else
	{GOLD {ESP} {MSP} {HSP}}
#endif
#enddef

#define SIDE_1_INCOME ESP MSP HSP EMP MMP HMP
#ifdef MULTIPLAYER
	{INCOME {EMP} {MMP} {HMP}}
#else
	{INCOME {ESP} {MSP} {HSP}}
#endif
#enddef


#define UNPLAYABLE_SIDE
        disallow_observers=yes
        allow_player=no
        controller=ai
#enddef
